openapi: 3.1.0
info:
  title: WISE² Custom GPT Actions
  version: 1.2.0
  description: Read-only WISE² health, Contractor OS, Revenue OS, and HVAC actions.
servers:
  - url: https://api.wise2.net
security:
  - wise2ToolKey: []
components:
  securitySchemes:
    wise2ToolKey:
      type: apiKey
      in: header
      name: x-wise2-tool-secret
paths:
  /api/assistant/tools/write:
    post:
      operationId: performWise2WriteAction
      summary: Perform a confirmed WISE² business action
      description: Use only after the user explicitly confirms the exact action. Supports create_lead, create_follow_up, and create_estimate.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [operation, data] }
      responses:
        '200': { description: Action result, content: { application/json: { schema: { type: object } } } }
        '401': { description: Invalid authentication }
  /api/assistant/tools/operations:
    post:
      operationId: getWise2Operations
      summary: Read Contractor OS and Revenue OS metrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operation]
              properties:
                operation:
                  type: string
                  enum: [business_health, revenue_today, jobs_today, open_estimates, outstanding_ar, margin_alerts, technician_utilization]
      responses:
        '200':
          description: Requested business data
          content:
            application/json:
              schema: { type: object }
        '401': { description: Invalid authentication }
  /api/v1/hermes/health:
    get:
      operationId: getWise2HermesHealth
      summary: Check WISE² Hermes health
      description: Returns Hermes provider, model, and Ollama availability.
      responses:
        '200':
          description: WISE² Hermes health status
          content:
            application/json:
              schema:
                type: object
                required: [status, provider, model, ollama]
                properties:
                  status: { type: string, example: online }
                  provider: { type: string, example: ollama }
                  model: { type: string, example: 'wise2:latest' }
                  profile: { type: string, example: fast }
                  context: { type: integer, example: 4096 }
                  predictTokens: { type: integer, example: 1024 }
                  think: { type: boolean, example: false }
                  ollama:
                    type: object
                    required: [status, endpoint]
                    properties:
                      status: { type: string, example: online }
                      endpoint: { type: string, format: uri, example: 'http://127.0.0.1:11434' }
                      error: { type: string }
