[Desktop Entry]
Type=Application
Version=1.0
Name=WISE² System Info
Comment=WISE² system information panel
Exec=/opt/wise2/scripts/wise2-run-sysinfo
Icon=/opt/wise2/branding/wise2-logo.svg
Terminal=true
Categories=Development;
StartupNotify=true
