source "/Users/danielwise/esp/esp-idf/components/bt/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/console/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/driver/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/efuse/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp-tls/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_coex/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_common/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_driver_gpio/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_driver_uart/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_driver_usb_serial_jtag/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_event/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_http_client/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_http_server/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_https_ota/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_https_server/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_hw_support/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_netif/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_partition/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_phy/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_pm/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_ringbuf/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_system/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_timer/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/esp_wifi/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/espcoredump/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/freertos/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/hal/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/heap/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/ieee802154/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/log/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/lwip/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/mbedtls/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/mqtt/esp-mqtt/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/newlib/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/nvs_flash/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/openthread/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/protocomm/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/soc/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/spi_flash/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/tcp_transport/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/vfs/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp-dsp/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp-modbus/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp-zigbee-lib/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp_diag_data_store/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp_diagnostics/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp_insights/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp_modem/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp_schedule/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__esp_secure_cert_mgr/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__jsmn/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__libsodium/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__mdns/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__network_provisioning/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__rmaker_cmd_resp/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__rmaker_common/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__rmaker_console/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__rmaker_time_sync/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/espressif__rmaker_work_queue/Kconfig"
source "/Users/danielwise/esp/esp-idf/components/bootloader/subproject/managed_components/joltwallet__littlefs/Kconfig"