insmod all_video
insmod gfxterm
loadfont unicode
insmod png
set gfxmode=auto
terminal_output gfxterm
background_image /boot/grub/wise2-bg.png

set timeout=20
set menu_color_normal=light-cyan/black
set menu_color_highlight=black/light-green

menuentry "WISE2 Linux OS - Start Ubuntu installer" {
    set gfxpayload=keep
    linux /casper/vmlinuz --- quiet splash
    initrd /casper/initrd
}
menuentry "WISE2 Linux OS - Safe graphics installer" {
    set gfxpayload=keep
    linux /casper/vmlinuz nomodeset --- quiet splash
    initrd /casper/initrd
}
menuentry "WISE2 Linux OS - Boot diagnostics (show messages)" {
    set gfxpayload=keep
    linux /casper/vmlinuz ---
    initrd /casper/initrd
}
if [ "$grub_platform" = "efi" ]; then
    menuentry 'UEFI Firmware Settings' { fwsetup; }
    menuentry 'Boot from next volume' { exit 1; }
fi
