WISE2_PORT=3000
WISE2_DEMO_MODE=false
WISE2_API_URL=
WISE2_DEVICE_ID=
WISE2_DEVICE_TOKEN=
WISE2_TENANT=
TAILSCALE_HOST=
CRIMERADAR_API_URL=
CRIMERADAR_API_TOKEN=
MESHTASTIC_HOST=
MESHTASTIC_SERIAL=
MESHTASTIC_MQTT_URL=
GPSD_HOST=
WISE2_LATITUDE=
WISE2_LONGITUDE=
